    <style>
    .center{
    	margin:0 auto;
		width:80%;
		height:100%;
    }
	#biaoti
	{
		color:#FFFFFF;
	}

	#k1{
		height: 30px;
	}
	#k2{
		height: 30px;
	}
	#biaodan
	{
		
	
	}
	#content {
	position:absolute;
	top:50%;
	height:240px;
	margin-top:-120px; /* negative half of the height */
	}
	#wrapper {
		display:table;
		}
	#cell {
		display:table-cell; 
		vertical-align:middle;
		}
	</style>
<body>
	
<div class="jumbotron"> 
	
	<% provide(:title, "Log in") %>
	  <h2>
	  	欢迎进入登录界面
	  </h2>
	
	<div class="row">
	  <div class="col-md-6 col-md-offset-3">
	                   
			<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
					<br>
					    <%= f.label :用户名,:class=>"sr-only",:for=>"k1"%>
					  	<div><%= f.text_field :username,:placeholder=>"用户名", "id"=>"k1"  %></div>
					  	<%= f.label :密码,:class=>"sr-only",:for=>"k2"%>
					    <div><%= f.password_field :password, autocomplete: "off" ,:placeholder=>"密码","id"=>"k2"%></div>					  	
					  	<% if devise_mapping.rememberable? -%>
					    <%= f.check_box :remember_me %> <%= f.label :记住用户名 %><br>
						<% end -%>
						<div class="center">				
						<%= f.submit "登录",:class=>"btn btn-lg btn-primary"%>
						</div>
					<% end %>
	
		</div>
	</div>
	
</div>

<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
     
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>

